<!DOCTYPE html>

<html>
    {% load pwa%}
    {% progressive_web_app_meta %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog PWA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        {%load static%}
        <link rel="stylesheet" href="{%static '/styles/style.css'%}">
    </head>
    <body>
        <div id="nav">
            <h2>Progresivna Web Aplikacija - Blog</h2>
        </div> 
        {% block 'main'%}

        {%endblock%}
    </body>
</html>